In [1]:
import cv2
import matplotlib.pyplot as plt
import os
import glob
import pytesseract
import pandas as pd

In [2]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

## Performing OCR on cells

In [3]:
path = '../ocr/*.jpg'
cols = ['M/s' , 'Reciept.No' , 'Time']
op = []
for file in glob.glob(path):
    image_read = cv2.imread(file)
    text = pytesseract.image_to_string(image_read)
    op.append(text)
print(op)

['TIME 9945\n\x0c', '\x0c', ' \n\n \n\x0c', ' \n\nfigdes.NeET\n\n \n\x0c', ' \n\n‘OUR RESPONSIBILITY CEASES OF ONCE THE\nCARRIAGE LEAVES THE WEIGHT BRIDGE\n\x0c', ' \n\nADD.\n\n \n\x0c', ' \n\nNON-AGBRICUL TURAL\n\n \n\x0c', ' \n\nDATE {5-@2-2020\n\n \n\x0c', ' \n\nVEHICLE N@248AY 6522\n\n \n\x0c', 'RECEIPT NO20G254\n\n \n\x0c', ' \n\nDRIVERIUT\n\x0c', ' \n\nWEIGHT KILOGRAMS REMARKS\n\n \n\x0c', ' \n\n{5-O3~2020.09:42\n\nL5—@3-2020 09:42\n\n \n\n \n\x0c', ' \n\nSe Skig\nan tS SE ORAL\n\nwar. enctl\n\nSPee@eskig\n\n \n\x0c']

## Removing Unwanted characters from the text

In [41]:
bad_chars = [';', ':', '!', "*" ,"\n" , "\x0c" , "," , "." , "@" , "{" , "}" , "~" ]
cleaned_op= []
for clean_text in op:
    clean_text = ''.join(i for i in clean_text if not i in bad_chars)
    cleaned_op.append(clean_text)
print(cleaned_op)

['TIME 9945', '', '  ', ' figdesNeET ', ' ‘OUR RESPONSIBILITY CEASES OF ONCE THECARRIAGE LEAVES THE WEIGHT BRIDGE', ' ADD ', ' NON-AGBRICUL TURAL ', ' DATE 5-2-2020 ', ' VEHICLE N248AY 6522 ', 'RECEIPT NO20G254 ', ' DRIVERIUT', ' WEIGHT KILOGRAMS REMARKS ', ' 5-O320200942L5—3-2020 0942  ', ' Se Skigan tS SE ORALwar enctlSPeeeskig ']

## Adding data to the Dataframe

In [43]:
df = pd.DataFrame({'Time':[cleaned_op[0]],
                   'M/s':[cleaned_op[6]],
                   'Date':[cleaned_op[7]],
                   'Vehicle.No':[cleaned_op[8]],
                   'Reciept No':[cleaned_op[9]],
                   'Driver':[cleaned_op[10]]
                   })
df

,Time,M/s,Date,Vehicle.No,Reciept No,Driver
0,TIME 9945,NON-AGBRICUL TURAL,DATE 5-2-2020,VEHICLE N248AY 6522,RECEIPT NO20G254,DRIVERIUT